@model IEnumerable<ContosoUniversity101.Models.Course>

@{
    ViewData["Title"] = "Courses";
}

<h1>Courses</h1>
<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table" role="table">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Credits</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Credits</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-sm btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
